<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titulo %}Welcome!{% endblock %}</title>        
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">        
        <link rel="stylesheet" href="/css/all.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
    </head>
    <body>

        <!-- Menú de navegación -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">Bar Shop</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('nosotros') }}">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bares
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="{{ path('contactar', {'sitio': 'vlc'}) }}">Valencia</a>
                                <a class="dropdown-item" href="{{ path('contactar', {'sitio': 'bcn'}) }}">Barcelona</a>
                                <a class="dropdown-item" href="{{ path('contactar', {'sitio': 'mdr'}) }}">Madrid</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tapa') }}">Tapas</a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reservas
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="{{ path('nuevaReserva') }}">Nueva</a>
                                <a class="dropdown-item" href="{{ path('reservas') }}">Lista</a>                                
                            </div>
                        </li>
                        <li class="nav-item">                            
                            <!-- <a class="nav-link" href="/logout/">Salir</a> -->
                            <a class="nav-link" href="{{ path('logout') }}">Salir</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Reservas</a>                            
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- FIN Menú de navegación -->

        {% block contenido %}{% endblock %}
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; FDN 2019</p>
            </div>
            <!-- /.container -->
        </footer>        
        <!-- Custom Fonts -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
