{# plantilla de nuestra aplicación #}
{% extends 'base.html.twig' %}
{# {% form_theme form 'form/tapaForm.html.twig' %} #}

{# titulo #}
{% block titulo %}
Login de usuario
{% endblock %}

{# contenido #}
{% block contenido %}
<!-- Page Content -->

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Bar Shop
        <small>Login de usuario</small>
    </h1>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6 mb-4">


            {% if error %}
            {# <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
            <h3>{{ error.messageKey|trans(error.messageData, 'security') }}</h3>
            {% endif %}

                {#
        ESTA PORCION DE CODIGO QUE SE MUESTRA A CONTINUACIÓN LA COPIÉ DE https://symfony.com/doc/3.4/security/form_login_setup.html
    #}


            <form action="{{ path('login') }}" method="post">

                <div class="control-group form-group">
                    <div class="controls">

                        <label for="username">Usuario:</label>
    {# <input type="text" id="username" name="_username" value="{{ last_username }}"/> #}
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>

                    </div>
                </div>


                <div class="control-group form-group">
                    <div class="controls">

                        <label for="password">Contraseña:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>

                    </div>
                </div>


                <button class="btn btn-primary" type="submit">login</button>
            </form>


        </div>
        <div class="col-lg-6">
            <h2>¿Para qué registrarse?</h2>
            <p>Con el registro de usuario se podrá realizar reservas para nuestro portal de una forma rápida y sencilla.</p>
            <p>Mediante la introducción del correo electrónico y la contraseña, podréis realizar una nueva reserva de mesa o anulación de estacionamiento</p>
            <p>Si aún no te has registrado en la aplicación, haz click en el enlace de <a href="{{ path('registro') }}" class="btn btn-success" role="button">Nuevo Registro</a></p>

        </div>
    </div>
    <!-- /.row -->

</div>


{% endblock %}